.contenedor{
    width: 25%;
    height: 30%;
    border: 2px blue solid;
    
   margin-top: 10%;
    flex-wrap: nowrap;
    align-content: stretch;
    text-align: center;
}
.logo{
  
    margin-top: 10%;
    width: 20%;
    
    
   
    border-radius: 50% 50% 50% 50%;
   
    
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}


.boton{
    margin-top: 5%;
    width: 60%;

}

.input{
    width: 70%;
}

.label{
    margin-right: 25%;
}